.container {
    border: 1px solid rebeccapurple;
    height: 0;
    transition: height 0.3s ease;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 2rem;
    background-color: olive;
    color: white;
    cursor: pointer;
}

.content {
    overflow: hidden;
}